@model IList<RookieShop.Backend.Models.Product>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@Html.Partial("~/Views/Shared/_LoginPartial.cshtml")
<div class="portfolio-section">
    <div class="container">
        <div class="row">

            <!-- START PORTFOLIO HEADING -->
            <div class="col-12">
                <div class="portfolioHeading text-center">
                    <h1 class="high-lighted-heading">Our Popular Product</h1>
                    <p>Aenean imperdiet. Etiam ultricies nisi vel augue men tuhi spectrum alle me.</p>
                </div>
            </div>
            <!-- END PORTFOLIO HEADING -->
            <!-- START FILTERS -->
            <div class="col-12">
                <div class="clearfix d-flex justify-content-center">
                    <div id="js-filters-blog-posts" class="cbp-l-filters-button cbp-1-filters-alignCenter">
                        <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">All </div>
                        <div data-filter=".Classic" class="cbp-filter-item">Classics</div>
                        <div data-filter=".Fantasy" class="cbp-filter-item">Fantasy</div>
                        <div data-filter=".motion" class="cbp-filter-item">Historical Fiction</div>
                    </div>
                </div>
            </div>
            <!-- END FILTERS -->
            <!-- START PORTFOLIO IMAGES -->
            <div class="col-12">
                <div id="js-grid-blog-posts" class="cbp">

                    <div class="cbp-item Classic Fantasy">
                        <a class="portfolio-circle-cart" href="book-shop\shop-cart.html">
                            <i class="fa fa-shopping-cart"></i>
                        </a>
                        <div class="cbp-caption-defaultWrap  owl-theme sync-portfolio-carousel owl-carousel">
                            <div class="item"> <a href="book-shop\img\book-1.jpg" class="cbp-caption" data-fancybox="gallery1" data-title="Book 1"><img src="book-shop\img\book-1.jpg" alt="Book 1"></a></div>
                            <div class="item"> <a href="book-shop\img\book-1-1.jpg" class="cbp-caption" data-fancybox="gallery1" data-title="Book 1"><img src="book-shop\img\book-1-1.jpg" alt="Book 1"></a></div>
                        </div>
                        <div class="row">
                            <div class="col-12 text-center">
                                <div class="cbp-l-grid-blog-title"><a href="#" target="_blank" class="portfolio-title">So Sad Today</a></div>
                            </div>
                            <div class="col-12 text-center">
                                <div class="cbp-l-grid-blog-desc portfolio-des">$750.00</div>
                            </div>
                        </div>
                    </div>

                    <div class="cbp-item Classic Fantasy">
                        <a class="portfolio-circle-cart" href="book-shop\shop-cart.html">
                            <i class="fa fa-shopping-cart"></i>
                        </a>
                        <div class="cbp-caption-defaultWrap  owl-theme sync-portfolio-carousel owl-carousel">
                            <div class="item"> <a href="book-shop\img\book-2.jpg" class="cbp-caption" data-fancybox="gallery2" data-title="Book2"> <img src="book-shop\img\book-2.jpg" alt=""></a></div>
                            <div class="item"> <a href="book-shop\img\book-2-1.jpg" class="cbp-caption" data-fancybox="gallery2" data-title="Book2"><img src="book-shop\img\book-2-1.jpg" alt=""></a></div>
                        </div>

                        <div class="row">
                            <div class="col-12 text-center">
                                <div class="cbp-l-grid-blog-title"><a href="#" target="_blank" class="portfolio-title">The Last Stand</a></div>
                            </div>
                            <div class="col-12 text-center">
                                <div class="cbp-l-grid-blog-desc portfolio-des">$550.00</div>
                            </div>
                        </div>
                    </div>

                    <div class="cbp-item Classic">
                        <a class="portfolio-circle-cart" href="book-shop\shop-cart.html">
                            <i class="fa fa-shopping-cart"></i>
                        </a>
                        <div class="cbp-caption-defaultWrap  owl-theme sync-portfolio-carousel owl-carousel">
                            <div class="item"> <a href="book-shop\img\book-3.jpg" class="cbp-caption" data-fancybox="gallery3" data-title="Shirt Name"> <img src="book-shop\img\book-3.jpg" alt=""></a></div>
                            <div class="item"> <a href="book-shop\img\book-3-1.jpg" class="cbp-caption" data-fancybox="gallery3" data-title="Shirt Name"><img src="book-shop\img\book-3-1.jpg" alt=""></a></div>
                        </div>

                        <div class="row">
                            <div class="col-12 text-center">
                                <div class="cbp-l-grid-blog-title"><a href="#" target="_blank" class="portfolio-title">Love Does</a></div>
                            </div>
                            <div class="col-12 text-center">
                                <div class="cbp-l-grid-blog-desc portfolio-des">$450.00</div>
                            </div>
                        </div>
                    </div>

                    <div class="cbp-item Fantasy motion">

                        <a class="portfolio-circle-cart" href="book-shop\shop-cart.html">
                            <i class="fa fa-shopping-cart"></i>
                        </a>

                        <div class="cbp-caption-defaultWrap  owl-theme sync-portfolio-carousel owl-carousel">
                            <div class="item"> <a href="book-shop\img\book-4.jpg" class="cbp-caption" data-fancybox="gallery4" data-title="Shirt Name"> <img src="book-shop\img\book-4.jpg" alt=""></a></div>
                            <div class="item"> <a href="book-shop\img\book-4-1.jpg" class="cbp-caption" data-fancybox="gallery4" data-title="Shirt Name"><img src="book-shop\img\book-4-1.jpg" alt=""></a></div>
                        </div>

                        <div class="row">
                            <div class="col-12 text-center">
                                <div class="cbp-l-grid-blog-title"><a href="#" target="_blank" class="portfolio-title">The Imortal Rules</a></div>
                            </div>
                            <div class="col-12 text-center">
                                <div class="cbp-l-grid-blog-desc portfolio-des">$750.00</div>
                            </div>
                        </div>
                    </div>

                    <div class="cbp-item Fantasy motion">
                        <a class="portfolio-circle-cart" href="book-shop\shop-cart.html">
                            <i class="fa fa-shopping-cart"></i>
                        </a>

                        <div class="cbp-caption-defaultWrap  owl-theme sync-portfolio-carousel owl-carousel">
                            <div class="item"> <a href="book-shop\img\book-5.jpg" class="cbp-caption" data-fancybox="gallery5" data-title="Shirt Name"> <img src="book-shop\img\book-5.jpg" alt=""></a></div>
                            <div class="item"> <a href="book-shop\img\book-5-1.jpg" class="cbp-caption" data-fancybox="gallery5" data-title="Shirt Name"><img src="book-shop\img\book-5-1.jpg" alt=""></a></div>
                        </div>

                        <div class="row">
                            <div class="col-12 text-center">
                                <div class="cbp-l-grid-blog-title"><a href="#" target="_blank" class="portfolio-title">As I Lay Dying</a></div>
                            </div>
                            <div class="col-12 text-center">
                                <div class="cbp-l-grid-blog-desc portfolio-des">$450.00</div>
                            </div>
                        </div>

                    </div>

                    <div class="cbp-item Fantasy motion">
                        <a class="portfolio-circle-cart" href="book-shop\shop-cart.html">
                            <i class="fa fa-shopping-cart"></i>
                        </a>

                        <div class="cbp-caption-defaultWrap  owl-theme sync-portfolio-carousel owl-carousel">
                            <div class="item"> <a href="book-shop\img\book-6.jpg" class="cbp-caption" data-fancybox="gallery6" data-title="Shirt Name"> <img src="book-shop\img\book-6.jpg" alt=""></a></div>
                            <div class="item"> <a href="book-shop\img\book-6-1.jpg" class="cbp-caption" data-fancybox="gallery6" data-title="Shirt Name"><img src="book-shop\img\book-6-1.jpg" alt=""></a></div>
                        </div>

                        <div class="row">
                            <div class="col-12 text-center">
                                <div class="cbp-l-grid-blog-title"><a href="#" target="_blank" class="portfolio-title">No One Belongs</a></div>
                            </div>
                            <div class="col-12 text-center">
                                <div class="cbp-l-grid-blog-desc portfolio-des">$999.00</div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <!-- END PORTFOLIO IMAGES -->

        </div>
    </div>
</div>
<!--START BANNER SECTION-->
<div class="banner-section parallax-slide">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 text-center text-lg-left">
                <div class="banner-content-wrapper">
                    <span>TRENDING PRODUCT OF THE WEEK</span>
                    <h1>Books <span>Collections</span></h1>
                    <p>Aenean imperdiet. Etiam ultricies nisi vel augue men tuhi spectrum alle me</p>
                    <button type="button" class="btn green-color-yellow-gradient-btn">BUY NOW</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--END BANNER SECTION-->
<!--START LATEST ARRIVALS-->
<div class="lastest_arrivals">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-4">
                <h1>Published Books</h1>
            </div>

            <div class="col-12">
                <div class="lastest_featured_products owl-carousel owl-theme">

                    <div class="lastest_arrival_items item">
                        <a href="~/book-shop/product-detail.html" class="lastest-addto-cart"><i class="fa fa-shopping-cart"></i></a>
                        <div class="card">
                            <span class="product-type">NEW</span>
                            <div class="image-holder">
                                <a href="~/book-shop/img/l1.jpg" data-fancybox="lastest_product" data-title="Shirt Name">
                                    <img src="~/book-shop/img/l1.jpg" class="card-img-top" alt="Lastest Arrivals 1">
                                </a>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12 text-center">
                                        <h5 class="card-title">Love In The Time</h5>
                                    </div>
                                    <div class="col-12 text-center">
                                        <p class="card-text"> $750.00</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="lastest_arrival_items item">
                        <a href="~/book-shop/product-detail.html" class="lastest-addto-cart"><i class="fa fa-shopping-cart"></i></a>
                        <div class="card">
                            <span class="product-type">NEW</span>
                            <div class="image-holder">
                                <a href="~/book-shop/img/l7.jpg" data-fancybox="lastest_product" data-title="Lastest Arrivals 1">
                                    <img src="~/book-shop/img/l7.jpg" class="card-img-top" alt="Lastest Arrivals 1">
                                </a>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12 text-center">
                                        <h5 class="card-title">The Joke</h5>
                                    </div>
                                    <div class="col-12 text-center">
                                        <p class="card-text text-center"> $850.00</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="lastest_arrival_items item">
                        <a href="~/book-shop/product-detail.html" class="lastest-addto-cart"><i class="fa fa-shopping-cart"></i></a>
                        <div class="card">
                            <span class="product-type">NEW</span>
                            <div class="image-holder">
                                <a href="~/book-shop/img/l8.jpg" data-fancybox="lastest_product" data-title="Lastest Arrivals 1">
                                    <img src="~/book-shop/img/l8.jpg" class="card-img-top" alt="Lastest Arrivals 1">
                                </a>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12 text-center">
                                        <h5 class="card-title">Never Let Me Go </h5>
                                    </div>
                                    <div class="col-12 text-center">
                                        <p class="card-text text-center"> $650.00</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="lastest_arrival_items item">
                        <a href="~/book-shop/product-detail.html" class="lastest-addto-cart"><i class="fa fa-shopping-cart"></i></a>
                        <div class="card">
                            <span class="product-type">NEW</span>
                            <div class="image-holder">
                                <a href="~/book-shop/img/l9.jpg" data-fancybox="lastest_product" data-title="Lastest Arrivals 1">
                                    <img src="~/book-shop/img/l9.jpg" class="card-img-top" alt="Lastest Arrivals 1">
                                </a>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12 text-center">
                                        <h5 class="card-title"> The Last World</h5>
                                    </div>
                                    <div class="col-12 text-center">
                                        <p class="card-text text-center"> $680.00</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="lastest_arrival_items item">
                        <a href="~/book-shop/product-detail.html" class="lastest-addto-cart"><i class="fa fa-shopping-cart"></i></a>
                        <div class="card">
                            <span class="product-type">NEW</span>
                            <div class="image-holder">
                                <a href="~/book-shop/img/l10.jpg" data-fancybox="lastest_product" data-title="Lastest Arrivals 1">
                                    <img src="~/book-shop/img/l10.jpg" class="card-img-top" alt="Lastest Arrivals 1">
                                </a>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12 text-center">
                                        <h5 class="card-title">Brave New World</h5>
                                    </div>
                                    <div class="col-12 text-center">
                                        <p class="card-text text-center"> $250.00</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="lastest_arrival_items item">
                        <a href="~/book-shop/product-detail.html" class="lastest-addto-cart"><i class="fa fa-shopping-cart"></i></a>
                        <div class="card">
                            <span class="product-type">NEW</span>
                            <div class="image-holder">
                                <a href="~/book-shop/img/l11.jpg" data-fancybox="lastest_product" data-title="Lastest Arrivals 1">
                                    <img src="~/book-shop/img/l11.jpg" class="card-img-top" alt="Lastest Arrivals 1">
                                </a>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12 text-center">
                                        <h5 class="card-title">Life Without Money</h5>
                                    </div>
                                    <div class="col-12 text-center">
                                        <p class="card-text text-center"> $850.00</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="lastest_arrival_items item">
                        <a href="~/book-shop/product-detail.html" class="lastest-addto-cart"><i class="fa fa-shopping-cart"></i></a>
                        <div class="card">
                            <span class="product-type">NEW</span>
                            <div class="image-holder">
                                <a href="~/book-shop/img/l12.jpg" data-fancybox="lastest_product" data-title="Lastest Arrivals 1">
                                    <img src="~/book-shop/img/l12.jpg" class="card-img-top" alt="Lastest Arrivals 1">
                                </a>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12 text-center">
                                        <h5 class="card-title">Life Is Elsewhere</h5>
                                    </div>
                                    <div class="col-12 text-center">
                                        <p class="card-text text-center"> $950.00</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="lastest_arrival_items item">
                        <a href="~/book-shop/product-detail.html" class="lastest-addto-cart"><i class="fa fa-shopping-cart"></i></a>
                        <div class="card">
                            <span class="product-type">NEW</span>
                            <div class="image-holder">
                                <a href="~/book-shop/img/l7.jpg" data-fancybox="lastest_product" data-title="Lastest Arrivals 1">
                                    <img src="~/book-shop/img/l13.jpg" class="card-img-top" alt="Lastest Arrivals 1">
                                </a>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12 text-center">
                                        <h5 class="card-title">The Road</h5>
                                    </div>
                                    <div class="col-12 text-center">
                                        <p class="card-text text-center"> $550.00</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<!--START SEARCH AREA-->
<div class="search-box-overlay">
    <a><i class="fas fa-times cross-sign" id="close-window"></i></a>

    <div class="container">
        <div class="row">
            <div class="col-12 search-col">
                <form action="javascript:void(0)">
                    <div class="input-group search-box-form">
                        <input type="text" class="form-control" placeholder="Search Here" aria-label="Search Here">
                        <div class="input-group-prepend">
                            <button class="input-group-text" type="submit" id="basic-addon1">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-12">
                <hr>
            </div>




        </div>
    </div>

</div>
<!--END SEARCH AREA -->
<!--START Cart Box-->
<div class="cart-box-overlay">
    <a><i class="fas fa-times cross-sign" id="close-window1"></i></a>

    <div class="container">
        <div class="row">
            <div class="search-listing row">
                <div class="col-12 mb-4">
                    <h4 class="">Shop Cart</h4>
                </div>
                <div class="col-12">
                    <div class="listing-search-scroll">
                        <div class="media row">
                            <div class="img-holder ml-1 mr-2 col-4">
                                <a href="javascript:void(0)">
                                    <img src="~/book-shop/img/book-1.jpg"
                                         class="align-self-center" alt="cartitem">
                                </a>
                            </div>
                            <div class="media-body mt-auto mb-auto col-8">
                                <h5 class="name"><a href="javascript:void(0)">So Sad Today</a></h5>
                                <p class="category">light wear Lastest</p>
                                <a class="btn black-sm-btn" href="~/book-shop/shop-cart.html">
                                    <i class="fas fa-shopping-bag"></i>
                                </a>
                                <a class="btn black-sm-btn"><i class="fas fa-eye"></i></a>
                            </div>
                        </div>
                        <div class="media row">
                            <div class="img-holder ml-1 mr-2 col-4">
                                <a href="javascript:void(0)">
                                    <img src="~/book-shop/img/book-2.jpg"
                                         class="align-self-center" alt="cartitem">
                                </a>
                            </div>
                            <div class="media-body mt-auto mb-auto col-8">
                                <h5 class="name"><a href="javascript:void(0)">As I Lay Dying</a></h5>
                                <p class="category">light wear Lastest</p>
                                <a class="btn black-sm-btn" href="~/book-shop/shop-cart.html">
                                    <i class="fas fa-shopping-bag"></i>
                                </a>
                                <a class="btn black-sm-btn" href="javascript:void(0)"><i class="fas fa-eye"></i></a>
                            </div>
                        </div>
                        <div class="media row">
                            <div class="img-holder ml-1 mr-2 col-4">
                                <a href="javascript:void(0)">
                                    <img src="~/book-shop/img/book-3.jpg"
                                         class="align-self-center" alt="cartitem">
                                </a>
                            </div>
                            <div class="media-body mt-auto mb-auto col-8">
                                <h5 class="name"><a href="javascript:void(0)">Love Does</a></h5>
                                <p class="category">light wear Lastest</p>
                                <a class="btn black-sm-btn" href="~/book-shop/shop-cart.html">
                                    <i class="fas fa-shopping-bag"></i>
                                </a>
                                <a class="btn black-sm-btn" href="javascript:void(0)"><i class="fas fa-eye"></i></a>
                            </div>
                        </div>
                        <div class="media row">
                            <div class="img-holder ml-1 mr-2 col-4">
                                <a href="javascript:void(0)">
                                    <img src="~/book-shop/img/book-2-1.jpg"
                                         class="align-self-center" alt="cartitem">
                                </a>
                            </div>
                            <div class="media-body mt-auto mb-auto col-8">
                                <h5 class="name"><a href="javascript:void(0)">The Last Stand</a></h5>
                                <p class="category">light wear Lastest</p>
                                <a class="btn black-sm-btn" href="~/book-shop/shop-cart.html">
                                    <i class="fas fa-shopping-bag"></i>
                                </a>
                                <a class="btn black-sm-btn" href="javascript:void(0)"><i class="fas fa-eye"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bag-btn">
            <h4 class="total"><span>Total: </span>100$</h4>
            <a href="javascript:void(0)" class="btn green-color-yellow-gradient-btn">View Bag </a>
            <a href="javascript:void(0)" class="btn yellow-color-green-gradient-btn">Checkout </a>
        </div>

    </div>

</div>
<!--END Cart Box -->
